table, th,td{
    padding: 5px;
    border: 1px solid gold;

}
.flex-blackjack, .flexbj-btns{
    display: flex;
    border: 1px solid gold;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}
.flex-blackjack, .flexbj-btns{
    background: url(bj.jpg) center;
    color: white;    
}
.flex-blackjack div{
    flex: 1;
    border: 3px solid goldenrod;
    padding: 10px;
    height: 450px;
    text-align: center;
}
.flex-blackjack img{
    width: 15%;
    padding: 10px;
}
.flex-table{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid goldenrod;
    justify-content: center;
}
.bj-result{
    color:black;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.btn-g{
    height: 80px;
    width: 220px;
    background-color: rgb(15, 177, 82);
    font-size: large;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    color: cornsilk;
    border-color: green;
}
.flex-table table{
    border: 1px solid gold;
    padding: 1px;
}
.btn-red{
    height: 50px;
    width: 100px;
    background-color: tomato;
    font-size: large;
    border-radius: 8px;
    color: black;
    border-color: tomato;
} 
.btn-green{
    height: 50px;
    width: 100px;
    background-color: rgb(29, 177, 15);
    font-size: large;
    border-radius: 8px;
    color: azure;
    border-color: green;
}    
.btn-yellow{
    height: 50px;
    width: 100px;
    background-color: yellow;
    font-size: large;
    border-radius: 8px;
    color:black;
    border-color: yellow;
} 